@media (max-width: 1064px) {
    .m-left-flex, .m-right-flex {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .swiper-slide img {
        width: 100px;
    }
}

@media (max-width: 867px) {
    .footer-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .header__menu-list {
        flex-wrap: wrap;
    }
    .menu-fourth-underline {
        flex-direction: column;
        text-align: center;
    }
    .m-left-flex {
        padding-bottom: 20px;
    }
    .swiper-slide img {
        width: 70px;
    }
    .swiper-preview {
        flex-wrap: wrap;
    }
    .footer-container {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 600px) {
    .topnav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .topnav a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
    }
    .topnav a:nth-last-child(2) {
        color: green;
    }
    .topnav a:first-child {
        color: red;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav .icon {
        display: none;
    }
    .topnav a.icon:hover {
        display: none;
    }
    .burger {
        display: none;
    }
}

@media (max-width: 599px) {
    .topnav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        background: rgb(161, 161, 161);
        padding: 15px;
        transform: translateY(-100%);
        height: 100vh;
        transition: all .3s ease-in-out;
        opacity: 0;
        z-index: 9999;
    }
    .topnav.active {
        transform: translateY(0);
        opacity: 1;
    }
    .topnav a.icon {
        display: block;
        text-align: right;
    }
}